body{
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  background-color: #010101;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #215177;
}

h2{
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
  color: #215177;
}

h3{
  font-family: 'Montserrat', serif;
  color: #215177;
}

a{
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', serif;
  margin: 10px 20px;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted 6px;
  border-color: #2b3e3e;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p{
  line-height: 2;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.web-developer{
  font-weight: normal;
}

.skill-row{
  width: 40%;
  margin: 100px auto;
  text-align: left;
}

.skills{
  margin: 100px auto 200px auto;
}

.design-plant{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.gourdplant{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.tree{
  margin: 100px auto 0 auto;
}

.top-container{
  background-color: #010101;
  position: relative;
  padding-top: 50px
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #0a2438;
  padding: 50px 0 20px;
  margin: 0;
}

.intro{
  width: 30%;
  margin: 0 auto 50px auto;
}

.top-cloud{
  position: absolute;
  right: 250px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 400px;
}

.btn {
   background: #E74362;
   background-image: -webkit-linear-gradient(top, #E74362, #063785);
   background-image: -moz-linear-gradient(top, #E74362, #063785);
   background-image: -ms-linear-gradient(top, #E74362, #063785);
   background-image: -o-linear-gradient(top, #E74362, #063785);
   background-image: linear-gradient(to bottom, #E74362, #063785);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
   font-weight: 100;
   padding: 40px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #B6DD49;
   background-image: -webkit-linear-gradient(top, #B6DD49, #1B8335);
   background-image: -moz-linear-gradient(top, #B6DD49, #1B8335);
   background-image: -ms-linear-gradient(top, #B6DD49, #1B8335);
   background-image: -o-linear-gradient(top, #B6DD49, #1B8335);
   background-image: linear-gradient(to bottom, #B6DD49, #1B8335);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
